<%- include("partials/header.ejs") %>

<div class="container1">
    
    <h1 class="title-text">
        დავალებების გვერდი
    </h1>

    <nav class="navbar navbar-expand-lg d-inline-block w-auto dropdown1" aria-label="Eleventh navbar example">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 16px;">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    დეპარტამენტი
                </a>
                <ul class="dropdown-menu" id="dropdown-menu1">
                    <% if (departments.length > 0) { %>
                        <% departments.forEach(department => { %>
                          <li class="dropdown-item">
                            <input type="checkbox" id="dep-<%= department.id %>" class="department-checkbox" value="<%= department.id %>">
                            <label for="dep-<%= department.id %>"><%= department.name %></label>
                          </li>
                        <% }); %>
                    <% } else { %>
                        <li class="dropdown-item">No departments available</li>
                    <% } %>
                    <li class="button-container">
                      <button id="confirm-selection" class="btn btn-primary">არჩევა</button>
                  </li>
                </ul>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">პრიორიტეტი</a>
                <ul class="dropdown-menu" id="dropdown-menu2">
                    <% if (priorities.length > 0) { %>
                        <% priorities.forEach(priority => { %>
                            <li class="dropdown-item">
                                <input type="checkbox" id="priority-<%= priority.id %>" class="priority-checkbox" value="<%= priority.id %>">
                                <label for="priority-<%= priority.id %>"><%= priority.name %></label>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li class="dropdown-item">No priorities available</li>
                    <% } %>
                    <li class="button-container">
                        <button id="confirm-priority" class="btn btn-primary">არჩევა</button>
                    </li>
                </ul>
            </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">თანამშრომელი</a>
                <ul class="dropdown-menu" id="dropdown-menu3">
                    <% if (employees.length > 0) { %>
                      <% employees.forEach(employee => { %>
                          <li class="dropdown-item">
                              <input type="checkbox" id="employee-<%= employee.id %>" class="employee-checkbox" value="<%= employee.id %>">
                              <img src="<%= employee.avatar %>" alt="<%= employee.name %>" class="employee-avatar">
                              <label for="employee-<%= employee.id %>"><%= employee.name %> <%= employee.surname %></label>
                          </li>
                      <% }); %>
                    <% } else { %>
                      <li class="dropdown-item">No employees available</li>
                    <% } %>
                    <li class="button-container">
                      <button id="confirm-employee" class="btn btn-primary">არჩევა</button>
                    </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="selected-filters-container">
      <div id="selected-filters" class="selected-filters">
          <span class="filter-capsule hidden" id="capsule-template">
              <span class="filter-text"></span>
              <img src="/images/x.png" class="remove-filter" alt="Remove">
          </span>
      </div>
      <button id="clear-filters" class="btn hidden clear-filters" style="color: #343A40; padding-top: 3px;">გასუფთავება</button>
    </div>
    
    <div id="task-statuses" class="task-statuses">
      <% statuses.forEach((status) => { %>
          <div class="task-status status-<%= status.id %>">
              <%= status.name %>
          </div>
      <% }); %>
    </div>

    <div class="task-board">
      <% statuses.forEach(status => { %>
          <div class="task-column" data-status-id="<%= status.id %>">
              <% tasks.filter(task => task.status.id === status.id).forEach(task => { %>
                  <div class="task-card task-card-status-<%= task.status.id %>">
                    <div class="task-card-header">
                      <div class="task-priority-<%= task.priority.id %>">
                        <img src="/images/priority-icon-<%= task.priority.id %>.png" style="width: 16px;">
                        <%= task.priority.name %>
                      </div>
                      <div class="task-department-box task-department-<%= task.department.id %>">
                        <% if(task.department.id === 1){ %>
                          <% let name = "ადმინისტრაცია" %>
                          <%= name %>
                        <% } %>
                        <% if(task.department.id === 2){ %>
                          <% let name = "HR დეპ." %>
                          <%= name %>
                        <% } %>
                        <% if(task.department.id === 3){ %>
                          <% let name = "ფინანსები" %>
                          <%= name %>
                        <% } %>
                        <% if(task.department.id === 4){ %>
                          <% let name = "მარკეტინგი" %>
                          <%= name %>
                        <% } %>
                        <% if(task.department.id === 5){ %>
                          <% let name = "ლოჯისტიკა" %>
                          <%= name %>
                        <% } %>
                        <% if(task.department.id === 6){ %>
                          <% let name = "ინფ. ტექ." %>
                          <%= name %>
                        <% } %>
                        <% if(task.department.id === 7){ %>
                          <% let name = "მედია" %>
                          <%= name %>
                        <% } %>
                      </div>
                      <div class="date"><%= task.due_date.substr(0, 10) %></div>
                    </div>

                    <div class="task-card-body">
                      <div class="task-title"><%= task.name %></div>
                      <div class="task-description">
                        <% if(task.description.length >= 100) {%>
                          <% let text = task.description.substr(0, 100) + "..." %>
                          <%= text %>
                        <% }else{ %>
                          <%= task.description %>
                        <% } %>
                      </div>
                    </div>

                    <div class="task-card-footer">
                      <img src="<%= task.employee.avatar %>" class="task-employee-avatar">
                    </div>
                  </div>
              <% }) %>
          </div>
      <% }) %>
    </div>
    
    <!-- Modal Backdrop -->
    <div id="modal-backdrop" class="modal-backdrop hidden"></div>

    <!-- Employee Creation Modal -->
    <div id="employee-modal" class="employee-modal hidden">
      <div class="modal-content">
        <div class="modal-header-employee">
          <button class="close-modal"><img src="/images/Cancel.png" alt=""></button>
        </div>
        <div class="modal-body-employee">
          <h2 class="modal-title-add">თანამშრომლის დამატება</h2>

          <form action="/employees" method="post" id="employee-form" enctype="multipart/form-data">
            <div class="modal-name">
              <div>
                <label for="name">სახელი*</label>
                <input type="text" id="first_name" name="name" required>
              </div>
        
              <div>
                <label for="surname">გვარი*</label>
                <input type="text" id="last_name" name="surname" required>
              </div>
            </div>

            <div class="avatar-container">
              <label for="avatar">ავატარი*</label>
              <div class="avatar-upload" id="avatar-upload">
                <input type="file" id="avatar" name="avatar" accept="image/*" hidden>
                <div class="avatar-preview" id="avatar-preview">
                  <img id="avatar-img" src="" alt="Uploaded Avatar">
                  <button type="button" id="remove-avatar" class="remove-avatar">&times;</button>
                </div>
                <p id="upload-text">დააწკაპუნეთ სურათის ასატვირთად</p>
              </div>
            </div>
            
            <div class="modal-department">
              <label for="department_id">დეპარტამენტი*</label>
              <select id="department" name="department_id" required>
                <% departments.forEach(dept => { %>
                  <option value="<%= dept.id %>"><%= dept.name %></option>
                <% }); %>
              </select>
            </div>

            <div class="modal-actions">
            <button type="submit">დაამატე თანამშრომელი</button>
          </div>
        </form>
        </div>
      </div>
    </div>


</div>

<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/script.js"></script>
